@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --cus-black: #231f20;
  --cus-dark-gray: #919191;
  --cus-light-gray: #cbc8c8;
}

html,
body {
  @apply bg-cus-light-gray; /* Change this to your desired color */
}

/* w-screen h-screen flex flex-col justify-between items-center py-[2rem] px-[4rem] text-cus-black */
/* w-[100vw] h-[100svh] flex flex-col justify-center items-center py-20 px-16 */
main {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 3rem;
  padding-bottom: 3rem;
  padding-left: 4rem;
  padding-right: 4rem;
  color: var(--cus-black);
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

/* w-[40%] h-[10%] flex items-center justify-center border rounded-3xl bg-cus-dark-gray font-normal text-[2.5rem] */
/* w-[40svw] h-[10svh] border rounded-3xl flex justify-center items-center bg-cus-dark-gray font-normal text-5xl  */
.title {
  width: 40%;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  border-radius: 1.5rem;
  background-color: var(--cus-dark-gray);
  font-size: 2.5rem;
  font-family: normal;
}

/* description max-w-[60ch] border-2 border-cus-black rounded-3xl p-[2em] text-2xl */
.description {
  width: 65ch;
  max-width: 60%;
  min-height: 50svh;
  max-height: 60svh;
  overflow-y: scroll;
  border: 2px solid black;
  border-radius: 1.5rem;
  padding: 2em;
  font-size: 1.25rem;
  margin-top: 2rem;
  /* font-size: clamp(0.75rem, calc(1rem + (1vw * 2)), 1.25rem); */
}

p::-webkit-scrollbar {
  /* background-color: #919191;
  width: 0.5rem; */
  display: none;
}

/* w-full h-full flex flex-col justify-between items-center  */
.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

/* w-[80%] h-[50%] flex flex-col  text-5xl font-semibold */
.content {
  width: 80%;
  height: 50%;
  display: flex;
  flex-direction: column;
  font-size: 3rem;
  font-weight: 600; /* equivalent to font-weight: bold; */
}

/* border rounded w-[60%] mt-2 py-2 px-3 text-cus-black leading-tight focus:outline-none focus:shadow-outline text-4xl  */
.input-style {
  border: 1px solid;
  border-radius: 1rem;
  width: 60%;
  margin-top: 0.5rem;
  padding: 0.75rem 0.75rem;
  font-size: 2rem;
  color: var(--cus-black);
  outline: none;
}

.input-style:focus {
  box-shadow: 0 0 0 3px var(--cus-dark-gray);
}

/* ########################################################## */
/* Component */
/* self-end font-normal text-2xl max-w-[12rem] py-2 px-4 rounded-md active:bg-cus-dark-gray hover:bg-cus-dark-gray */
.custom-btn {
  align-self: flex-end;
  font-weight: normal;
  font-size: 1.5rem;
  max-width: 12rem;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
}

.custom-btn:active,
.custom-btn:hover {
  background-color: var(--cus-dark-gray);
}

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */
